@import '../../variables.scss';

ul.list-people {
    padding: 40px 0;
    margin: 0 auto;
    list-style: none;
    max-width: 1200px;
    width: 100%;
    text-align: center;

    li {
        text-align: left;
        padding: 0;
        margin: 0;
        list-style: none;
        border: 1px solid $secondary-color;
        display: inline-block;
        color: $secondary-color;
        padding: 20px;
        width: 100%;
        max-width: 400px;
        margin: 10px;
        cursor: pointer;

        @media (max-width: $breakpoint-tablet) {
            max-width: 300px;
        }

        .align-right {
            float: right;

            .content-icon {
                display: inline-block;
                margin: 0 10px;
                position: relative;

                .qtd {
                    background-color: $primary-color;
                    display: block;
                    width: 16px;
                    line-height: 16px;
                    height: 16px;
                    border-radius: 100%;
                    color: $white-color;
                    position: absolute;
                    top: -9px;
                    right: 8px;
                    text-align: center;
                    font-size: 11px;
                }
            }
        }

        &:hover {
            border: 1px solid $primary-color;
            color: $white-color;
        }
    }
}